.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #a6d6ed;
  box-shadow: 0px 10px 20px -10px #3d3d3d;
}

.form {
  display: flex;
  gap: 12px;
}

.input {
  width: 300px;
  height: 35px;
  padding: 0 15px;
  color: #277ca5;
  border: none;
  font-size: 18px;
  box-shadow: 0px 10px 20px -10px #3d3d3d;
  border-radius: 7px;
  font-family: inherit;
}

.btn {
  width: 100px;
  height: 35px;
  text-transform: uppercase;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 10px 20px -10px #3d3d3d;
  background-color: #f1fffe;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  font-family: inherit;
}

.btn:hover,
.btn:focus {
  background-color: #fde8ef;
}

.input:focus {
  border: 1px solid #3d3d3d;
  outline: none;
}
